/* Colors */
$text-color: #efefef;
$accent-color: #c5e0d8;
$background-color: #222828;
$banner-title: #fff;
$border-color: #111;
$drop-shadow-color: $border-color;
$link-color: $accent-color;
$nav-background-color: #293030;
$nav-text-color: $text-color;
$tile-background-color: #293030;
$code-background-color: #444;
