/* Colors */
$text-color: dimgrey;
$accent-color: #216685;
$background-color: #fefefe;
$banner-title: #fff;
$border-color: rgb(219, 219, 219);
$drop-shadow-color: $border-color;
$link-color: $accent-color;
$nav-background-color: #fefefe;
$nav-text-color: $text-color;
$tile-background-color: $background-color;
$code-background-color: #e6e6ee;
